<div
  class="flex p-4 bg-white rounded-md drop-shadow-md mb-2 flex-col cursor-pointer"
  (click)="goToStudentDetails(student.email)"
>
  <!-- Contêiner da Imagem com Altura Fixa -->
  <div
    class="w-full h-48 flex items-center justify-center overflow-hidden bg-gray-200 rounded-md"
  >
    <img
      [src]="student.foto"
      [alt]="student.nome"
      class="object-cover w-full h-full"
    />
  </div>

  <!-- Conteúdo do Card -->
  <div>
    <div>
      <h2 class="text-center text-xl font-bold mb-2">{{ student.nome }}</h2>
    </div>
  </div>
</div>
